@import '../base/variables';
@import '../base/mixins';

.login {
  background: {
    color: $black-grey;
  }

  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @include mobile-s {
    background: {
      image: url('../../public/login-background-desktop.svg');
      repeat: no-repeat;
      size: contain;
      position: -450px center;
    }
  }

  &::after,
  &::before {
    background: {
      repeat: no-repeat;
    };

    content: '';
    display: block;
    position: absolute;
    z-index: 1;

    @include mobile-s{
      display: none;
    }
  }

  &::after {
    background: {
      image: url('../../public/login-background-left-m.svg');
    }

    left: -40px;
    top: 30%;
    height: 300px;
    width: 250px;
  }

  &::before {
    background: {
      image: url('../../public/login-background-right-m.svg');
    }

    right: -60px;
    top: 70%;
    width: 200px;
    height: 200px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}