.inner-dashboard {
  display: flex;
  margin-top: 20px;
  flex-direction: column;

  @include tablet {
    margin-top: 55px;
    flex-direction: row;
  }
}

.dashboard {
  &-header {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;

    @include tablet {
      margin-bottom: 30px;
    }

    svg {
      fill: $white;
      color: $black-grey;
    }

    h3 {
      margin-left: 15px;
      font-size: 15px;
      font-weight: $semi-bold;
      line-height: 1;
      text-transform: uppercase;
    }

    &__title {
      align-items: center;
      display: flex;

      svg {
        color: $white;
      }
    }
  }

  &-left {
    width: 100%;

    @include tablet {
      width: 60%;
    }
  }

  &-right {
    width: 100%;

    @include tablet {
      width: 40%;
    }

    &--small {
      width: 100%;

      @include tablet {
        width: 15%;
      }
    }
  }
}
