.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: visible;
  position: relative;

  &::after,
  &::before {
    background: {
      repeat: no-repeat;
    };

    content: '';
    display: block;
    position: absolute;
    z-index: 1;

    @include mobile-s{
      display: none;
    }
  }

  &::after {
    background: {
      image: url('../../img/login-background-left-m.svg');
    }

    left: -40px;
    top: 30%;
    height: 300px;
    width: 250px;
  }

  &::before {
    background: {
      image: url('../../img/login-background-right-m.svg');
    }

    right: -60px;
    top: 70%;
    width: 200px;
    height: 200px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  &__container {
    &--intro,
    &--form {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      z-index: 2;

      p,
      span,
      h1,
      label {
        color: $white;
      }
    }
  }

  &__slogan {
    margin: 40px 0 0;
    font-family: $raleway;
    font-size: 15px;
    font-weight: $semi-bold;

    @include desktop {
      font-size: 20px;
    }
  }

  &__logo {
    @include tablet {
      display: none;
    }
  }
}
