.sign-up {
  @include authBackground;

  align-items: center;
  display: flex;
  height: 100vh;
  overflow: visible;
  position: relative;

  &__container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    z-index: 2;

    @include tablet {
      max-width: 500px;
    }
  }

  &__header {
    margin-bottom: 70px;
    text-align: center;

    h3 {
      color: $orange;
      font-weight: $semi-bold;

      &::after {
        margin: -7px auto 0;
        background-color: $white;
        content: "";
        display: block;
        height: 3px;
        width: 130px;

        @include tablet {
          margin: 0 auto 0;
          width: 185px;
        }
      }
    }

    p {
      margin: 20px 0 0;
      font-size: 0.9375rem;

      @include tablet {
        margin: 30px 0 0;
      }
    }
  }
}
