// Typography
// Headings

h1,
h2,
h3 {
  font-family: $raleway;
}

h1 {
  font-size: 80px;
  line-height: 94px;
}

h2 {
  font-size: 62px;
  line-height: 73px;
}

h3 {
  font-size: 50px;
  line-height: 59px;
}

p {
  font-size: 10px;
  line-height: 11px;
  font-family: $roboto;

  @include tablet {
    font-size: 15px;
    line-height: 18px;
  }
}

a {
  color: $orange;
  text-decoration: none;
}