// All Styles
// Mixins
@import './mixins/media-queries';
@import './mixins/mixins';

// Base
@import './base/reset';
@import './base/animations';
@import './base/variables';
@import './base/button';
@import './base/fonts';
@import './base/typography';
@import './base/forms';

// Screens
@import './screens/dashboard';
@import './screens/login';
@import './screens/sign-up';
@import './screens/quiz';
@import './screens/profile-page';

// Layouts
@import './layouts/layout';
@import './layouts/auth';

// Components
@import './components/login-form';
@import './components/sign-up-form';
@import './components/quiz-form';
@import './components/app-aside';
@import './components/app-header';
@import './components/navigation';
@import './components/status';
@import './components/profile-status';
@import './components/header-log-off';
@import './components/notification';
@import './components/add-post';
@import './components/post-item';
@import './components/post-modal';
@import './components/user-banner';
@import './components/user-profile-bar';
@import './components/user-profile-friends';
@import './components/user-profile-recents';
@import './components/user-profile-settings';
@import './components/settings-navigation';
@import './components/settings-profile-edit';
