// All Styles
// Mixins
@import './mixins/media-queries';
@import './mixins/mixins';

// Base
@import './base/reset';
@import './base/animations';
@import './base/variables';
@import './base/button';
@import './base/fonts';
@import './base/typography';
@import './base/forms';

// Screens
@import './screens/dashboard';
@import './screens/login';
@import './screens/sign-up';
@import './screens/quiz';

// Layouts
@import './layouts/layout';
@import './layouts/auth';

// Components
@import './components/login-form';
@import './components/sign-up-form';
@import './components/quiz-form';
@import './components/header';
@import './components/banner';
