body {
  &.loginpage {
    overflow: hidden;

    main {
      overflow: hidden;

      @include mobile-s {
        background: {
          image: url('../../img/login-background-desktop.svg');
          repeat: no-repeat;
          size: contain;
          position: -450px center;
        }
      }
    }
  }
}

main {
  background-color: $black-grey;
}

.container {
  padding: 0 20px;
  max-width: 1440px;

  @include desktop {
    padding: 0 60px;
    max-width: 100%;
  }
}

.mobile {
  &--hidden {
    display: none;

    @include desktop {
      display: block;
    }
  }
}
