.log-off {
  margin-right: 20px;
  cursor: pointer;

  svg {
    color: $white;
    height: 17px;
    max-width: 17px;
    transition: $basic-transition;
    width: 100%;

    @include desktop {
      height: 20px;
      max-width: 20px;
    }
  }

  &:hover {
    svg {
      color: $orange;
    }
  }

  &.active {
    svg {
      color: $dark-orange;
    }
  }
}
