.header {
  align-items: center;
  background-color: $semi-dark-grey;
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 15%;

  @include desktop {
    width: 13%;
  }

  p {
    font-family: $raleway;
    font-weight: $semi-bold;
  }

  &__profile {
    margin-top: 25px;
    margin-bottom: auto;
    cursor: pointer;
    position: relative;

    @include desktop {
      margin-bottom: 100px;
    }
  }

  &__profile-picture {
    margin: 0 auto auto;
    max-width: 40px;
    position: relative;
    width: 100%;

    img {
      border-radius: 999px;
    }

    @include mobile-xs {
      max-width: 50px;
    }

    @include desktop {
      max-width: 80px;
    }

    &.active {
      > ul {
        display: block;
      }
    }
  }

  &__status {
    background-color: $green;
    bottom: 0;
    border-radius: 999px;
    position: absolute;
    right: 0;
    height: 15px;
    width: 15px;

    @include desktop {
      height: 20px;
      width: 20px;
    }
  }

  &__status-tab {
    padding: {
      top: 20px;
      right: 10px;
      bottom: 20px;
      left: 20px;
    }

    animation: fadeIn 0.3s;
    background-color: $semi-dark-grey;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 40px;
    top: 70px;
    width: 150px;

    @include mobile-s {
      left: 60px;
    }

    @include tablet {
      left: 100px;
    }

    @include desktop-large {
      left: 135px;
    }
  }

  &__status-item {
    margin-bottom: 10px;
    padding-left: 15px;
    cursor: pointer;
    font-weight: $regular;
    position: relative;
    transition: $basic-transition;

    &:hover {
      padding-left: 17px;
    }

    &::after {
      margin-top: 10px;
      content: '';
      display: block;
      width: 95%;
      height: 1px;
      background-color: $grey;
    }

    &:last-child {
      margin-bottom: 0;

      &::after {
        content: '';
        display: none;
      }
    }

    &::before {
      background-color: $white;
      border-radius: 100%;
      content: '';
      height: 8px;
      left: 0px;
      position: absolute;
      top: 5px;
      width: 8px;
    }

    &-online {
      &::before {
        background-color: $green;
      }
    }

    &-idle {
      &::before {
        background-color: $orange;
      }
    }

    &-dnd {
      &::before {
        background-color: $red;
      }
    }

    &-hidden {
      &::before {
        background-color: $grey;
      }
    }
  }

  &__description {
    margin-top: 20px;
    display: none;
    text-align: center;

    @include desktop {
      display: block;
    }

    h3 {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    p {
      margin-top: 10px;
    }
  }

  &__menu {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
  }

  &__menu-item {
    margin-bottom: 35px;
    text-align: center;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $white;

      @include desktop {
        align-items: center;
        display: flex;
        flex-direction: row;
      }

      span {
        margin-left: 15px;
        display: none;
        font-family: $raleway;
        font-weight: $semi-bold;

        @include desktop {
          display: block;
        }
      }

      svg {
        height: 20px;
        width: 20px;

        @include mobile-xs {
          height: 25px;
          width: 25px;
        }

        @include desktop {
          height: 20px;
          width: 20px;
        }
      }

      span,
      svg {
        transition: $basic-transition;
      }
     
      &.active {
        span,
        svg {
          color: $dark-orange;
        }
      }

      &:hover {
        span,
        svg {
          color: $orange
        }
      }
    }
  }

  &__copyright {
    margin-bottom: 20px;
    text-align: center;

    p {
      color: $grey;
    }

    @include tablet {
      margin-bottom: 30px;
    }
  }
}
