.lobbies {
  &__lobby {
    cursor: pointer;

    &:hover {
      h3 {
        color: $dark-orange;
      }
    }
  }

  &__image {
    margin-right: 10px;

    @include tablet {
      margin-right: 15px;
    }
  }

  &__info {
    img {
      border-radius: 50%;
      height: 30px;
      width: 30px;

      @include tablet {
        height: 40px;
        width: 40px;
      }
    }

    h3 {
      font-size: 1.1rem;
      font-weight: $semi-bold;
      transition: $basic-transition;
    }
  }
}
