.lobby-header {
  svg {
    margin-right: 15px;
    color: $white;
    height: 15px;
    width: 15px;
  }

  h3 {
    font-size: 15px;
    font-weight: $semi-bold;
    line-height: 1;
    text-transform: uppercase;
  }
}
