.notification {
  position: relative;

  &.active {
    > ul {
      display: block;
    }
  }

  &__icon {
    background-color: transparent;
    cursor: pointer;

    svg {
      transition: $basic-transition;
    }

    &:hover {
      svg {
        color: $orange;
      }
    }

    &.active {
      svg {
        color: $dark-orange;
      }
    }
  }

  &__list {
    padding: {
      top: 20px;
      right: 10px;
      bottom: 20px;
      left: 20px;
    }

    animation: fadeIn 0.3s;
    background-color: $semi-dark-grey;
    border-radius: 10px;
    height: 60px;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 40px;
    width: 150px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: $semi-dark-grey;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $orange;
    }

    @include tablet {
      height: 100px;
      width: 200px;
    }
  }

  &__item {
    margin-bottom: 10px;
    font-weight: $thin;

    &::after {
      margin-top: 10px;
      content: '';
      display: block;
      width: 95%;
      height: 1px;
      background-color: $grey;
    }

    &:last-child {
      margin-bottom: 0;

      &::after {
        content: '';
        display: none;
      }
    }
  }
}
