.quiz-model {
  &__overlay {
    background-color: rgba($color: $dark-orange, $alpha: 0.75);
  }

  &__wrap {
    background-color: $black-grey;

    h3 {
      color: $dark-orange;
      font-size: 2rem;
      font-weight: $semi-bold;
    }
  }

  &__heading {
    border-bottom: 2px solid $white;
  }

  &__btn {
    background-color: $black-grey;

    button {
      border-radius: 5px;
      color: $white;
      width: 50%;
    }
  }
}
