.sign-up-form {
  width: 100%;

  label {
    margin-bottom: 5px;
    color: $white;
    font-weight: $semi-bold;
  }

  &__input-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    input {
      padding: 0 10px;
      height: 35px;

      @include tablet {
        padding: 0 20px;
        height: 50px;
      }
    }

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__submit-field {
    margin-top: 30px;
    float: right;
    outline-style: solid;
    
    @include tablet {
      width: 100%;
    }
  }

  &__button {
    padding: 12px 15px;
    font-family: $raleway;
    font-weight: $semi-bold;
    text-transform: uppercase;
    width: 100%;

    span {
      @include tablet {
        font-size: 1.25rem;
      }
    }
  }

  &__error-pop {
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;

    p {
      color: $orange;
    }
  }

  &__error {
    outline: 2px solid $dark-orange;
  }
}
